// ---------------------------
// Media Query Mixin
// ---------------------------
@mixin respond-at($media) {
  @media only screen and (min-width: $media) {
    @content;
  }
}

// ---------------------------
// Variables
// ---------------------------
$desktop: 768px;
$sliderHeight: 280px;

// ---------------------------
// Carousel
// ---------------------------

.slider {
  max-width: 940px;
  margin: 2rem auto 2rem auto;
}

.slide-viewer {
  @include respond-at($desktop) {
    position: relative; /* needed for IE7 */
    overflow: hidden;
    height: $sliderHeight;
  }
}

.slide-group {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  @include respond-at($desktop) {
    display: none;
    position: absolute;
  }
  .slide-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include respond-at($desktop) {
        flex-wrap: nowrap;
      }
    figure {
      margin: 0 0 .75rem 0;
      width: 100%;
      @include respond-at(450px) {
        width: 50%;
      }
      @include respond-at($desktop) {
        margin-bottom: 0;
      }
      img {
        padding: .25rem;
        min-width: 100%;
      }
      figcaption {
        text-align: center;
      }
    }
  }
}

.slide:first-child {
  display: block;
}

/********** BUTTONS **********/
.slide-buttons {
  display: none;
  @include respond-at($desktop) {
    display: block;
    text-align: center;
  }
}

.slide-btn {
  border: none;
  background: none;
  color: #000;
  font-size: 200%;
  line-height: 0.5em;
}scss

.slide-btn.active,
.slide-btn:hover {
  color: #ed8e6c;
  cursor: pointer;
}

// ---------------------------
// Base Styles
// ---------------------------

html,
body {
  height: 100vh;
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
}
